<h1>Cleaning Student Loan Data from FAFSA</h1>
<br>Includes aggreagting the students and Total Amount of Loan per state
<br>Map the state abbrevations to

In [186]:
import pandas as pd
def clean_college_loan_data(loan_data):
    loan_data = loan_data.drop(['State_y', 'STABBR'], axis=1)
    loan_data = loan_data.rename(columns={"State_x": "State", "COSTT4_A": "TuitionAmount"})

    state_names_df = pd.read_excel("data/state-names-abb/StateNames.xlsx") 
    state_name = []
    for state in loan_data["State"]:
        state_ser = state_names_df[state_names_df["abb"] == str(state)]
        if(state_ser.empty):
            state_name.append("None")
        else:
            state_name.append(str(state_ser.iloc[0]['name']))

    loan_data["State"] =   state_name
    loan_data = loan_data[loan_data["State"] != "None"]
    stripping = loan_data['School'].str.strip()
    loan_data['School']= stripping

    return loan_data

In [187]:
loan_data2012 = pd.read_csv("data/college-loan/Loan&Tuition12_13.csv", sep= ",", encoding='latin-1') 
loan_data2012 = clean_college_loan_data(loan_data2012)

loan_data2013 = pd.read_csv("data/college-loan/Loan&Tuition13_14.csv", sep= ",", encoding='latin-1')  
loan_data2013 = clean_college_loan_data(loan_data2013)

loan_data2014 = pd.read_csv("data/college-loan/Loan&Tuition14_15.csv", sep= ",", encoding='latin-1')  
loan_data2014 = clean_college_loan_data(loan_data2014)
loan_data2012.count()

Unnamed: 0                              4683
OPE ID                                  4683
School                                  4683
State                                   4683
Zip Code                                4683
School Type                             4683
FEDERAL WORK Recipients                 4683
FEDERAL WORK $ Federal Award            4683
 FEDERAL WORK Disbursements             4683
PERKINS LOAN Recipients                 4683
PERKINS LOAN $ Federal Award            4683
PERKINS LOAN Disbursements              4683
FEDERAL SUPPLEMENTAL Recipients         4683
FEDERAL SUPPLEMENTAL $ Federal Award    4683
FEDERAL SUPPLEMENTAL Disbursements      4683
Region                                  4683
CITY                                    4683
TuitionAmount                           4683
dtype: int64

<h1>Cleaning Region wise Depression Data from SAMHASA</h1>
<br> Collecting only the region wise data and eleminating the state wise data

In [188]:
depression_data = pd.read_excel("data/region-depression/2012-2014_Substate_SAE_Table_.xlsx")
# Selecting Map Group =4 => maps all the sub regions to depression index
depression_data = depression_data[depression_data["Map Group"]== 4]

column_names = ['State', 'Substate Region']
depression_data = pd.melt(depression_data, id_vars=column_names,\
                          value_vars=['Depression2012','Depression2013','Depression2014'])

mapping = {"Depression2012": 2012, "Depression2013": 2013, "Depression2014": 2014}
depression_data = depression_data.replace({"variable": mapping})
depression_data

        State                Substate Region  variable     value
0     Alabama                       Region 1      2012  0.068441
1     Alabama                       Region 2      2012  0.066045
2     Alabama                       Region 3      2012  0.061205
3     Alabama                       Region 4      2012  0.067005
4      Alaska                      Anchorage      2012  0.073531
...       ...                            ...       ...       ...
1081  Wyoming            Judicial District 5      2014  0.088076
1082  Wyoming            Judicial District 6      2014  0.087603
1083  Wyoming  Judicial District 7 (Natrona)      2014  0.094727
1084  Wyoming            Judicial District 8      2014  0.088636
1085  Wyoming            Judicial District 9      2014  0.087140

[1086 rows x 4 columns]

<h1>Mapping all colleges </h1>
<br> Collecting only the region wise data and eleminating the state wise data

In [189]:
college_region_mapping_df = pd.read_csv("data/college-region/Mapping Colleges to regions - Sheet1.csv" , sep= ",", encoding='latin-1')  
state_name = []
state_names_df = pd.read_excel("data/state-names-abb/StateNames.xlsx") 
for state in college_region_mapping_df["State"]:
    state_ser = state_names_df[state_names_df["abb"] == str(state)]
    if(state_ser.empty):
        state_name.append("None")
    else:
        state_name.append(str(state_ser.iloc[0]['name']))

college_region_mapping_df["State"] = state_name
college_region_mapping_df = college_region_mapping_df[college_region_mapping_df["State"] != "None"]
stripping = college_region_mapping_df['college'].str.strip()
college_region_mapping_df['college']= stripping
college_region_mapping_df.dropna(inplace = True)
college_region_mapping_df['college'] = college_region_mapping_df['college'].map(lambda x : x.lower())
college_region_mapping_df.head()

                          college   State         region
0       alaska pacific university  Alaska  South Central
1  university of alaska fairbanks  Alaska  South Central
2  university of alaska southeast  Alaska      Southeast
3            alaska bible college  Alaska       Northern
4  university of alaska anchorage  Alaska  South Central

<h1>Joining Loan and tuition data to the regional mapping</h1>
<br>

In [191]:
import numpy as np
def join_loan_region_data(loan_data,college_region_mapping_df):
    region = []
    for indx in loan_data.index:
        school = loan_data['School'][indx]
        r = college_region_mapping_df[college_region_mapping_df["college"]==school]["region"]
        if(r.empty):
            region.append(np.nan)
        else:
            region.append(r.iloc[0])
        
#     loan_region_df = pd.merge(left=loan_data, right=college_region_mapping_df, \
#                               left_on='School', right_on='college')
#     print(loan_region_df.count())
    loan_data["region"] = region
    loan_data.dropna(inplace = True)
    return loan_data

In [192]:
loan_region_2012_df = join_loan_region_data(loan_data2012,college_region_mapping_df)
loan_region_2013_df = join_loan_region_data(loan_data2013,college_region_mapping_df)
loan_region_2014_df = join_loan_region_data(loan_data2014,college_region_mapping_df)
loan_region_2014_df.count()

Unnamed: 0                              3851
OPE ID                                  3851
School                                  3851
State                                   3851
Zip Code                                3851
School Type                             3851
FEDERAL WORK Recipients                 3851
FEDERAL WORK $ Federal Award            3851
FEDERAL WORK Disbursements              3851
PERKINS LOAN Recipients                 3851
PERKINS LOAN $ Federal Award            3851
PERKINS LOAN Disbursements              3851
FEDERAL SUPPLEMENTAL Recipients         3851
FEDERAL SUPPLEMENTAL $ Federal Award    3851
FEDERAL SUPPLEMENTAL Disbursements      3851
Region                                  3851
CITY                                    3851
TuitionAmount                           3851
region                                  3851
dtype: int64

In [193]:
loan_region_2014_df

,Unnamed: 0,OPE ID,School,State,Zip Code,School Type,FEDERAL WORK Recipients,FEDERAL WORK $ Federal Award,FEDERAL WORK Disbursements,PERKINS LOAN Recipients,PERKINS LOAN $ Federal Award,PERKINS LOAN Disbursements,FEDERAL SUPPLEMENTAL Recipients,FEDERAL SUPPLEMENTAL $ Federal Award,FEDERAL SUPPLEMENTAL Disbursements,Region,CITY,TuitionAmount,region
0,0,884300,alaska bible college,Alaska,99645-6619,Private/Non-Profit,5,5000,6191,0,0,0,9,5000,6575,Northern,Palmer,15990,Northern
1,1,4138600,alaska christian college,Alaska,996699755,Private/Non-Profit,10,5000,6667,0,0,0,9,5000,6667,Anchorage,Soldotna,18094,Anchorage
2,2,106100,alaska pacific university,Alaska,995084672,Private/Non-Profit,18,35837,47197,0,0,0,44,27080,39150,South Central,Anchorage,42640,South Central
3,3,3461300,ilisagvik college,Alaska,997230749,Public,6,27453,12729,0,0,0,19,22224,29084,Anchorage,Barrow,13676,Anchorage
4,4,1146200,university of alaska anchorage,Alaska,995088050,Public,99,351907,319752,0,0,0,527,344615,511671,South Central,Anchorage,13610,South Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3864,3933,382600,west virginia state university,West Virginia,251120000,Public,76,218233,192127,0,0,0,287,161890,161890,Region V,Institute,14689,Region V
3865,3934,382700,west virginia university,West Virginia,265066201,Public,1068,1846340,1846340,2211,0,4112082,1505,702197,1551709,Region IV,Morgantown,17585,Region IV
3866,3935,382800,west virginia university - parkersburg,West Virginia,261019577,Public,50,88928,106508,0,0,0,115,81458,75521,Region III,Parkersburg,11418,Region III
3867,3936,383000,west virginia wesleyan college,West Virginia,262012600,Private/Non-Profit,280,264114,257877,20,0,72628,102,189968,189968,Region IV,Buckhannon,39927,Region IV
3868,3937,383100,wheeling jesuit university,West Virginia,260036243,Private/Non-Profit,121,165642,165089,150,0,224725,214,146582,195443,Region I,Wheeling,35527,Region I

<h1>Joining depression data to final dataframe</h1>
<br> Merging State and sub regions 
<br> Dropping unnecessary helper columns
<br> Dropping all rows with NaN values

In [194]:
def join_depression_dataset(loan_region_df, depression_data, year):
    temp_depression_data = depression_data[depression_data["variable"] == year]
    loan_tuition_depression = pd.merge(left=loan_region_df ,right=temp_depression_data, how='left', \
                                       left_on=['State',"region"], right_on=["State","Substate Region"])
    loan_tuition_depression.dropna(inplace = True)
    loan_tuition_depression["year"] = year
    loan_tuition_depression["location"] = loan_tuition_depression["State"]+loan_tuition_depression["Region"]
    loan_tuition_depression = loan_tuition_depression.drop(['variable','Unnamed: 0', 'Region',\
                                                            'OPE ID',"region","Substate Region"]\
                                                           , axis =1)
    
    return loan_tuition_depression

In [195]:
loan_tuition_depression2012 = join_depression_dataset(loan_region_2012_df, depression_data, 2012)
loan_tuition_depression2013 = join_depression_dataset(loan_region_2013_df, depression_data, 2013)
loan_tuition_depression2014 = join_depression_dataset(loan_region_2014_df, depression_data, 2014)

In [202]:
loan_tuition_depression2013

,School,State,Zip Code,School Type,FEDERAL WORK Recipients,FEDERAL WORK $ Federal Award,FEDERAL WORK Disbursements,PERKINS LOAN Recipients,PERKINS LOAN $ Federal Award,PERKINS LOAN Disbursements,FEDERAL SUPPLEMENTAL Recipients,FEDERAL SUPPLEMENTAL $ Federal Award,FEDERAL SUPPLEMENTAL Disbursements,CITY,TuitionAmount,value,year,location
0,9,1,2187,0,9.0,5000.0,6250,0.0,0.0,0.0,15.0,5000.0,6575.0,921,13380.0,0.051256,2013.0,11
1,10,1,2188,0,13.0,5000.0,5000,0.0,0.0,0.0,10.0,5000.0,5000.0,1152,18094.0,0.060293,2013.0,10
2,11,1,2185,0,32.0,41163.0,54884,0.0,0.0,0.0,55.0,28279.0,37706.0,33,42925.0,0.053347,2013.0,12
4,776,1,2189,2,9.0,27453.0,23359,0.0,0.0,0.0,21.0,22224.0,20665.0,76,17895.0,0.060293,2013.0,10
5,1841,1,2186,2,116.0,324930.0,335502,0.0,0.0,0.0,1133.0,335397.0,445027.0,33,13180.0,0.053347,2013.0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,2084,43,578,2,67.0,218233.0,148082,37.0,0.0,82686.0,263.0,161890.0,206082.0,563,13756.0,0.061553,2013.0,299
4014,2085,43,600,2,1281.0,1846340.0,1818317,1933.0,0.0,3807611.0,1392.0,666816.0,1462810.0,797,16898.0,0.061181,2013.0,298
4015,2086,43,594,2,59.0,96812.0,109259,0.0,0.0,0.0,134.0,80000.0,88009.0,929,10490.0,0.063174,2013.0,297
4016,2087,43,596,0,273.0,264114.0,254494,47.0,0.0,150589.0,96.0,189968.0,189968.0,174,38796.0,0.061181,2013.0,298
4017,2112,43,591,0,173.0,137310.0,183080,220.0,0.0,349834.0,214.0,146582.0,195443.0,1341,34213.0,0.059550,2013.0,295

<h1>Scaling and Encoding the data to numeric values</h1>

In [197]:
def scale_encode_data(df):
    
    alphanum_columns = ["School","Zip Code","School Type","location","CITY", "State"]
    for column in alphanum_columns:
        df[column] = df[column].astype('category')
        df[column] = pd.to_numeric(df[column].cat.codes)
        
    numeric_columns = ['value', 'year', 'FEDERAL WORK Recipients',\
       'FEDERAL WORK $ Federal Award',\
       'PERKINS LOAN Recipients', 'PERKINS LOAN $ Federal Award',\
       'PERKINS LOAN Disbursements', 'FEDERAL SUPPLEMENTAL Recipients',\
       'FEDERAL SUPPLEMENTAL $ Federal Award',\
       'FEDERAL SUPPLEMENTAL Disbursements','TuitionAmount']

    df[numeric_columns] = df[numeric_columns].astype(float)

    return df

loan_tuition_depression2012 = scale_encode_data(loan_tuition_depression2012)
loan_tuition_depression2013 = scale_encode_data(loan_tuition_depression2013)
loan_tuition_depression2014 = scale_encode_data(loan_tuition_depression2014)

In [198]:
loan_tuition_depression2012.to_csv("data/processed/loan_tuition_depression2012.csv")
loan_tuition_depression2013.to_csv("data/processed/loan_tuition_depression2013.csv")
loan_tuition_depression2014.to_csv("data/processed/loan_tuition_depression2014.csv")

In [199]:
combined_2012_2013 = pd.concat([loan_tuition_depression2012, loan_tuition_depression2013])

combined_2012_2013.to_csv("data/processed/combined_2012_2013.csv")

In [201]:
loan_tuition_depression2013.count()

School                                  2955
State                                   2955
Zip Code                                2955
School Type                             2955
FEDERAL WORK Recipients                 2955
FEDERAL WORK $ Federal Award            2955
 FEDERAL WORK Disbursements             2955
PERKINS LOAN Recipients                 2955
PERKINS LOAN $ Federal Award            2955
PERKINS LOAN Disbursements              2955
FEDERAL SUPPLEMENTAL Recipients         2955
FEDERAL SUPPLEMENTAL $ Federal Award    2955
FEDERAL SUPPLEMENTAL Disbursements      2955
CITY                                    2955
TuitionAmount                           2955
value                                   2955
year                                    2955
location                                2955
dtype: int64

In [182]:
from sklearn.preprocessing import PolynomialFeatures 
numeric_columns = ['value', 'year','FEDERAL WORK Recipients',
       'FEDERAL WORK $ Federal Award', ' FEDERAL WORK Disbursements','TuitionAmount']

poly = PolynomialFeatures(degree = 2) 
X_poly = poly.fit_transform(loan_tuition_depression2012[numeric_columns]) 
x = pd.DataFrame(X_poly)
x.corr()
# type(X_poly)
# poly.fit(X_poly, y)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.000000,NaN,0.074667,0.061260,0.055978,0.020066,0.996852,1.000000,0.112987,...,0.039049,0.047353,0.036057,0.040735,0.054498,0.043579,0.029144,0.030275,0.025825,0.018044
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,0.074667,NaN,1.000000,0.867084,0.932683,0.262550,0.070764,0.074667,0.996846,...,0.885139,0.855184,0.859878,0.893618,0.742362,0.801356,0.832463,0.723184,0.863475,0.291454
4,NaN,0.061260,NaN,0.867084,1.000000,0.927703,0.103728,0.057692,0.061260,0.868111,...,0.744377,0.876281,0.782730,0.706634,0.909758,0.884299,0.888165,0.714652,0.789688,0.121017
5,NaN,0.055978,NaN,0.932683,0.927703,1.000000,0.168263,0.052264,0.055978,0.929005,...,0.832484,0.870098,0.877569,0.805481,0.814454,0.888184,0.864334,0.855961,0.875437,0.193211
6,NaN,0.020066,NaN,0.262550,0.103728,0.168263,1.000000,0.019510,0.020066,0.255157,...,0.147466,0.106876,0.126766,0.462487,0.072481,0.092695,0.313787,0.090305,0.368156,0.968666
7,NaN,0.996852,NaN,0.070764,0.057692,0.052264,0.019510,1.000000,0.996852,0.108900,...,0.035990,0.043754,0.032778,0.038203,0.051055,0.040007,0.026796,0.027155,0.023483,0.017670
8,NaN,1.000000,NaN,0.074667,0.061260,0.055978,0.020066,0.996852,1.000000,0.112987,...,0.039049,0.047353,0.036057,0.040735,0.054498,0.043579,0.029144,0.030275,0.025825,0.018044
9,NaN,0.112987,NaN,0.996846,0.868111,0.929005,0.255157,0.108900,0.112987,1.000000,...,0.880010,0.852420,0.853380,0.879002,0.743027,0.797235,0.821435,0.716386,0.848521,0.282228
10,NaN,0.095060,NaN,0.860872,0.997163,0.919659,0.096942,0.091055,0.095060,0.866998,...,0.735666,0.869387,0.772036,0.691358,0.907373,0.875623,0.873427,0.703786,0.771430,0.112472
11,NaN,0.089650,NaN,0.930981,0.929373,0.997340,0.161917,0.085536,0.089650,0.932773,...,0.827706,0.867156,0.870910,0.793096,0.814938,0.883803,0.853305,0.850589,0.860456,0.185317
12,NaN,0.193593,NaN,0.266533,0.107371,0.170144,0.981355,0.192466,0.193593,0.267602,...,0.146817,0.108286,0.125935,0.455998,0.076210,0.093532,0.306064,0.089224,0.359839,0.950659
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,0.074667,NaN,1.000000,0.867084,0.932683,0.262550,0.070764,0.074667,0.996846,...,0.885139,0.855184,0.859878,0.893618,0.742362,0.801356,0.832463,0.723184,0.863475,0.291454
15,NaN,0.061260,NaN,0.867084,1.000000,0.927703,0.103728,0.057692,0.061260,0.868111,...,0.744377,0.876281,0.782730,0.706634,0.909758,0.884299,0.888165,0.714652,0.789688,0.121017
16,NaN,0.055978,NaN,0.932683,0.927703,1.000000,0.168263,0.052264,0.055978,0.929005,...,0.832484,0.870098,0.877569,0.805481,0.814454,0.888184,0.864334,0.855961,0.875437,0.193211
17,NaN,0.020066,NaN,0.262550,0.103728,0.168263,1.000000,0.019510,0.020066,0.255157,...,0.147466,0.106876,0.126766,0.462487,0.072481,0.092695,0.313787,0.090305,0.368156,0.968666
18,NaN,0.039049,NaN,0.885139,0.744377,0.832484,0.147466,0.035990,0.039049,0.880010,...,1.000000,0.930425,0.973741,0.812138,0.750333,0.858002,0.756249,0.804285,0.809071,0.165415
19,NaN,0.047353,NaN,0.855184,0.876281,0.870098,0.106876,0.043754,0.047353,0.852420,...,0.930425,1.000000,0.954436,0.750199,0.934075,0.971232,0.846474,0.831857,0.810311,0.119910
20,NaN,0.036057,NaN,0.859878,0.782730,0.877569,0.126766,0.032778,0.036057,0.853380,...,0.973741,0.954436,1.000000,0.786054,0.811159,0.930152,0.793062,0.902078,0.838724,0.144480
21,NaN,0.040735,NaN,0.893618,0.706634,0.805481,0.462487,0.038203,0.040735,0.879002,...,0.812138,0.750199,0.786054,1.000000,0.620832,0.702622,0.870821,0.651222,0.947647,0.514324
22,NaN,0.054498,NaN,0.742362,0.909758,0.814454,0.072481,0.051055,0.054498,0.743027,...,0.750333,0.934075,0.811159,0.620832,1.000000,0.955138,0.841227,0.747153,0.726072,0.078519
23,NaN,0.043579,NaN,0.801356,0.884299,0.888184,0.092695,0.040007,0.043579,0.797235,...,0.858002,0.971232,0.930152,0.702622,0.955138,1.000000,0.856003,0.898375,0.811366,0.105766
24,NaN,0.029144,NaN,0.832463,0.888165,0.864334,0.313787,0.026796,0.029144,0.821435,...,0.756249,0.846474,0.793062,0.870821,0.841227,0.856003,1.000000,0.710051,0.946405,0.349438
25,NaN,0.030275,NaN,0.723184,0.714652,0.855961,0.090305,0.027155,0.030275,0.716386,...,0.804285,0.831857,0.902078,0.651222,0.747153,0.898375,0.710051,1.000000,0.754244,0.108082
26,NaN,0.025825,NaN,0.863475,0.789688,0.875437,0.368156,0.023483,0.025825,0.848521,...,0.809071,0.810311,0.838724,0.947647,0.726072,0.811366,0.946405,0.754244,1.000000,0.413316
27,NaN,0.018044,NaN,0.291454,0.121017,0.193211,0.968666,0.017670,0.018044,0.282228,...,0.165415,0.119910,0.144480,0.514324,0.078519,0.105766,0.349438,0.108082,0.413316,1.000000