<h1>Cleaning Student Loan Data from FAFSA</h1>
<br>Includes aggreagting the students and Total Amount of Loan per state
<br>Map the state abbrevations to

In [264]:
import pandas as pd
def clean_college_loan_data(loan_data):
    loan_data = loan_data.drop(['State_y', 'STABBR'], axis=1)
    loan_data = loan_data.rename(columns={"State_x": "State", "COSTT4_A": "TuitionAmount"})

    state_names_df = pd.read_excel("data/state-names-abb/StateNames.xlsx") 
    state_name = []
    for state in loan_data["State"]:
        state_ser = state_names_df[state_names_df["abb"] == str(state)]
        if(state_ser.empty):
            state_name.append("None")
        else:
            state_name.append(str(state_ser.iloc[0]['name']))

    loan_data["State"] =   state_name
    loan_data = loan_data[loan_data["State"] != "None"]
    stripping = loan_data['School'].str.strip()
    loan_data['School']= stripping

    return loan_data

In [265]:
loan_data2012 = pd.read_csv("data/college-loan/Loan&Tuition12_13.csv") 
loan_data2012 = clean_college_loan_data(loan_data2012)

loan_data2013 = pd.read_csv("data/college-loan/Loan&Tuition13_14.csv") 
loan_data2013 = clean_college_loan_data(loan_data2013)

loan_data2014 = pd.read_csv("data/college-loan/Loan&Tuition14_15.csv") 
loan_data2014 = clean_college_loan_data(loan_data2014)
loan_data2013

,Unnamed: 0,OPE ID,School,State,Zip Code,School Type,FEDERAL WORK Recipients,FEDERAL WORK $ Federal Award,FEDERAL WORK Disbursements,PERKINS LOAN Recipients,PERKINS LOAN $ Federal Award,PERKINS LOAN Disbursements,FEDERAL SUPPLEMENTAL Recipients,FEDERAL SUPPLEMENTAL $ Federal Award,FEDERAL SUPPLEMENTAL Disbursements,Region,CITY,TuitionAmount
0,0,884300,alaska bible college,Alaska,996456619,Private/Non-Profit,9,5000.0,6250,0,0,0,15,5000.0,6575,Northern,Palmer,13380.0
1,1,4138600,alaska christian college,Alaska,996699755,Private/Non-Profit,13,5000.0,5000,0,0,0,10,5000.0,5000,Anchorage,Soldotna,18094.0
2,2,106100,alaska pacific university,Alaska,995084672,Private/Non-Profit,32,41163.0,54884,0,0,0,55,28279.0,37706,South Central,Anchorage,42925.0
3,3,2576900,charter college,Alaska,995084103,Proprietary,84,200000.0,202549,0,0,0,1773,316102.0,307545,Region 3,Vancouver,21163.0
4,4,3461300,ilisagvik college,Alaska,997230749,Public,9,27453.0,23359,0,0,0,21,22224.0,20665,Anchorage,Barrow,17895.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4031,3996,382600,west virginia state university,West Virginia,251120000,Public,67,218233.0,148082,37,0,82686,263,161890.0,206082,Region V,Institute,13756.0
4032,3997,382700,west virginia university,West Virginia,265066201,Public,1281,1846340.0,1818317,1933,0,3807611,1392,666816.0,1462810,Region IV,Morgantown,16898.0
4033,3998,382800,west virginia university - parkersburg,West Virginia,261019577,Public,59,96812.0,109259,0,0,0,134,80000.0,88009,Region III,Parkersburg,10490.0
4034,3999,383000,west virginia wesleyan college,West Virginia,262012600,Private/Non-Profit,273,264114.0,254494,47,0,150589,96,189968.0,189968,Region IV,Buckhannon,38796.0
4035,4000,383100,wheeling jesuit university,West Virginia,260036243,Private/Non-Profit,173,137310.0,183080,220,0,349834,214,146582.0,195443,Region I,Wheeling,34213.0

<h1>Cleaning Region wise Depression Data from SAMHASA</h1>
<br> Collecting only the region wise data and eleminating the state wise data

In [266]:
depression_data = pd.read_excel("data/region-depression/2012-2014_Substate_SAE_Table_.xlsx")
# Selecting Map Group =4 => maps all the sub regions to depression index
depression_data = depression_data[depression_data["Map Group"]== 4]

column_names = ['State', 'Substate Region']
depression_data = pd.melt(depression_data, id_vars=column_names,\
                          value_vars=['Depression2012','Depression2013','Depression2014'])

mapping = {"Depression2012": 2012, "Depression2013": 2013, "Depression2014": 2014}
depression_data = depression_data.replace({"variable": mapping})
depression_data

        State                Substate Region  variable     value
0     Alabama                       Region 1      2012  0.068441
1     Alabama                       Region 2      2012  0.066045
2     Alabama                       Region 3      2012  0.061205
3     Alabama                       Region 4      2012  0.067005
4      Alaska                      Anchorage      2012  0.073531
...       ...                            ...       ...       ...
1081  Wyoming            Judicial District 5      2014  0.088076
1082  Wyoming            Judicial District 6      2014  0.087603
1083  Wyoming  Judicial District 7 (Natrona)      2014  0.094727
1084  Wyoming            Judicial District 8      2014  0.088636
1085  Wyoming            Judicial District 9      2014  0.087140

[1086 rows x 4 columns]

<h1>Mapping all colleges </h1>
<br> Collecting only the region wise data and eleminating the state wise data

In [267]:
college_region_mapping_df = pd.read_csv("data/college-region/Mapping Colleges to regions - Sheet1.csv" , sep= ",", encoding='latin-1')  
state_name = []
for state in college_region_mapping_df["State"]:
    state_ser = state_names_df[state_names_df["abb"] == str(state)]
    if(state_ser.empty):
        state_name.append("None")
    else:
        state_name.append(str(state_ser.iloc[0]['name']))

college_region_mapping_df["State"] = state_name
college_region_mapping_df = college_region_mapping_df[college_region_mapping_df["State"] != "None"]
stripping = college_region_mapping_df['college'].str.strip()
college_region_mapping_df['college']= stripping
college_region_mapping_df.dropna(inplace = True)
college_region_mapping_df['college'] = college_region_mapping_df['college'].map(lambda x : x.lower())
college_region_mapping_df.head()

                          college   State         region
0       alaska pacific university  Alaska  South Central
1  university of alaska fairbanks  Alaska  South Central
2  university of alaska southeast  Alaska      Southeast
3            alaska bible college  Alaska       Northern
4  university of alaska anchorage  Alaska  South Central

<h1>Joining Loan and tuition data to the regional mapping</h1>
<br>

In [268]:

def join_loan_region_data(loan_data):
    loan_region_df = pd.merge(left=loan_data, right=college_region_mapping_df, \
                              left_on='School', right_on='college')
    loan_region_df.dropna(inplace = True)
    return loan_region_df

In [269]:
loan_region_2012_df = join_loan_region_data(loan_data2012)
loan_region_2013_df = join_loan_region_data(loan_data2013)
loan_region_2014_df = join_loan_region_data(loan_data2014)
loan_region_2012_df

,Unnamed: 0,OPE ID,School,State_x,Zip Code,School Type,FEDERAL WORK Recipients,FEDERAL WORK $ Federal Award,FEDERAL WORK Disbursements,PERKINS LOAN Recipients,...,PERKINS LOAN Disbursements,FEDERAL SUPPLEMENTAL Recipients,FEDERAL SUPPLEMENTAL $ Federal Award,FEDERAL SUPPLEMENTAL Disbursements,Region,CITY,TuitionAmount,college,State_y,region
0,0,884300,alaska bible college,Alaska,99588-0000,Private/Non-Profit,10,5000,6933,0,...,0,17,5000,6400,Northern,Palmer,10730.0,alaska bible college,Alaska,Northern
1,1,4138600,alaska christian college,Alaska,99669-9755,Private/Non-Profit,8,5000,5000,0,...,0,10,5000,5000,Anchorage,Soldotna,15994.0,alaska christian college,Alaska,Anchorage
2,2,106100,alaska pacific university,Alaska,99508-4672,Private/Non-Profit,39,45110,52175,0,...,0,88,34279,43306,South Central,Anchorage,40883.0,alaska pacific university,Alaska,South Central
3,3,2576900,charter college,Alaska,99508-4103,Proprietary,86,200000,188703,0,...,0,1093,306747,487503,Region 3,Vancouver,23557.0,charter college,California,Region 21R
4,3,2576900,charter college,Alaska,99508-4103,Proprietary,86,200000,188703,0,...,0,1093,306747,487503,Region 3,Vancouver,23557.0,charter college,Washington,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25299,4032,382600,west virginia state university,West Virginia,25112-0000,Public,68,218233,155008,38,...,83105,297,161890,166763,Region V,Institute,13122.0,west virginia state university,West Virginia,Region V
25300,4033,382700,west virginia university,West Virginia,26506-6201,Public,867,1846340,1282250,1101,...,2299716,1511,685501,1628637,Region IV,Morgantown,16238.0,west virginia university,West Virginia,Region IV
25301,4034,382800,west virginia university - parkersburg,West Virginia,26101-9577,Public,54,117590,87835,0,...,0,190,80000,108647,Region III,Parkersburg,11120.0,west virginia university - parkersburg,West Virginia,Region III
25302,4035,383000,west virginia wesleyan college,West Virginia,26201-2600,Private/Non-Profit,281,264114,254346,77,...,195677,103,189968,189968,Region IV,Buckhannon,37732.0,west virginia wesleyan college,West Virginia,Region IV
25303,4036,383100,wheeling jesuit university,West Virginia,26003-6243,Private/Non-Profit,160,138004,184005,213,...,356606,165,146582,195443,Region I,Wheeling,36668.0,wheeling jesuit university,West Virginia,Region I

In [293]:
def join_depression_dataset(loan_region_df, depression_data, year):
    temp_depression_data = depression_data[depression_data["variable"] == year]
    loan_tuition_depression = pd.merge(left=loan_region_df ,right=temp_depression_data, how='left', \
                                       left_on=['State_y',"region"], right_on=["State","Substate Region"])
    loan_tuition_depression.dropna(inplace = True)
    loan_tuition_depression["year"] = loan_tuition_depression["variable"]
    loan_tuition_depression = loan_tuition_depression.drop(['variable','college', 'State_y','Unnamed: 0', 'Region','OPE ID','State_x']\
                                                           , axis =1)

    return loan_tuition_depression

In [294]:
loan_tuition_depression2012 = join_depression_dataset(loan_region_2012_df, depression_data, 2012)
loan_tuition_depression2013 = join_depression_dataset(loan_region_2013_df, depression_data, 2013)
loan_tuition_depression2014 = join_depression_dataset(loan_region_2014_df, depression_data, 2014)

In [295]:
loan_tuition_depression2012.to_csv("data/processed/loan_tuition_depression2012.csv")
loan_tuition_depression2013.to_csv("data/processed/loan_tuition_depression2013.csv")
loan_tuition_depression2014.to_csv("data/processed/loan_tuition_depression2014.csv")

In [296]:
combined_2012_2013 = pd.concat([loan_tuition_depression2012, loan_tuition_depression2013])
combined_2012_2013.to_csv("data/processed/combined_2012_2013.csv")

In [297]:
# combined_2012_2013.drop(["Unnamed: 0","OPE ID","variable"],inplace= True)
combined_2012_2013.columns

Index(['School', 'Zip Code', 'School Type', 'FEDERAL WORK Recipients',
       'FEDERAL WORK $ Federal Award', ' FEDERAL WORK Disbursements',
       'PERKINS LOAN Recipients', 'PERKINS LOAN $ Federal Award',
       'PERKINS LOAN Disbursements', 'FEDERAL SUPPLEMENTAL Recipients',
       'FEDERAL SUPPLEMENTAL $ Federal Award',
       'FEDERAL SUPPLEMENTAL Disbursements', 'CITY', 'TuitionAmount', 'region',
       'State', 'Substate Region', 'value', 'year'],
      dtype='object')