<h1>Cleaning Student Loan Data from FAFSA</h1>
<br>Includes aggreagting the students and Total Amount of Loan per state
<br>Map the state abbrevations to

In [154]:
import pandas as pd
def clean_college_loan_data(loan_data):
    loan_data = loan_data.drop(['State_y', 'STABBR'], axis=1)
    loan_data = loan_data.rename(columns={"State_x": "State", "COSTT4_A": "TuitionAmount"})

    state_names_df = pd.read_excel("data/state-names-abb/StateNames.xlsx") 
    state_name = []
    for state in loan_data["State"]:
        state_ser = state_names_df[state_names_df["abb"] == str(state)]
        if(state_ser.empty):
            state_name.append("None")
        else:
            state_name.append(str(state_ser.iloc[0]['name']))

    loan_data["State"] =   state_name
    loan_data = loan_data[loan_data["State"] != "None"]
    stripping = loan_data['School'].str.strip()
    loan_data['School']= stripping

    return loan_data

In [156]:
loan_data2012 = pd.read_csv("data/college-loan/Loan&Tuition12_13.csv") 
loan_data2012 = clean_college_loan_data(loan_data2012)
loan_data2012.head()

   Unnamed: 0   OPE ID                     School   State         Zip Code  \
0           0   884300       alaska bible college  Alaska  99588-0000
1           1  4138600   alaska christian college  Alaska  99669-9755
2           2   106100  alaska pacific university  Alaska  99508-4672
3           3  2576900            charter college  Alaska  99508-4103
4           4  3461300          ilisagvik college  Alaska  99723-0749

          School Type  FEDERAL WORK Recipients  FEDERAL WORK $ Federal Award  \
0  Private/Non-Profit                       10                          5000
1  Private/Non-Profit                        8                          5000
2  Private/Non-Profit                       39                         45110
3         Proprietary                       86                        200000
4              Public                       11                         27453

    FEDERAL WORK Disbursements  PERKINS LOAN Recipients  \
0                         6933                        0
1                         5000                        0
2                        52175                        0
3                       188703                        0
4                        23200                        0

   PERKINS LOAN $ Federal Award  PERKINS LOAN Disbursements  \
0                             0                           0
1                             0                           0
2                             0                           0
3                             0                           0
4                             0                           0

   FEDERAL SUPPLEMENTAL Recipients  FEDERAL SUPPLEMENTAL $ Federal Award  \
0                               17                                  5000
1                               10                                  5000
2                               88                                 34279
3                             1093                                306747
4                               27                                 22224

   FEDERAL SUPPLEMENTAL Disbursements         Region       CITY  TuitionAmount
0                                6400       Northern     Palmer        10730.0
1                                5000      Anchorage   Soldotna        15994.0
2                               43306  South Central  Anchorage        40883.0
3                              487503       Region 3  Vancouver        23557.0
4                               25165      Anchorage     Barrow        11902.0

,Unnamed: 0,OPE ID,School,State,Zip Code,School Type,FEDERAL WORK Recipients,FEDERAL WORK $ Federal Award,FEDERAL WORK Disbursements,PERKINS LOAN Recipients,PERKINS LOAN $ Federal Award,PERKINS LOAN Disbursements,FEDERAL SUPPLEMENTAL Recipients,FEDERAL SUPPLEMENTAL $ Federal Award,FEDERAL SUPPLEMENTAL Disbursements,Region,CITY,TuitionAmount
0,0,884300,alaska bible college,Alaska,99588-0000,Private/Non-Profit,10,5000,6933,0,0,0,17,5000,6400,Northern,Palmer,10730.0
1,1,4138600,alaska christian college,Alaska,99669-9755,Private/Non-Profit,8,5000,5000,0,0,0,10,5000,5000,Anchorage,Soldotna,15994.0
2,2,106100,alaska pacific university,Alaska,99508-4672,Private/Non-Profit,39,45110,52175,0,0,0,88,34279,43306,South Central,Anchorage,40883.0
3,3,2576900,charter college,Alaska,99508-4103,Proprietary,86,200000,188703,0,0,0,1093,306747,487503,Region 3,Vancouver,23557.0
4,4,3461300,ilisagvik college,Alaska,99723-0749,Public,11,27453,23200,0,0,0,27,22224,25165,Anchorage,Barrow,11902.0

<h1>Cleaning Region wise Depression Data from SAMHASA</h1>
<br> Collecting only the region wise data and eleminating the state wise data

In [142]:
depression_data = pd.read_excel("data/region-depression/2012-2014_Substate_SAE_Table_.xlsx")
# Selecting Map Group =4 => maps all the sub regions to depression index
depression_data = depression_data[depression_data["Map Group"]== 4]
depression_data.drop(["Map Group"] , axis=1)
column_names = ['Order', 'State', 'Substate Region']
depression_data = pd.melt(depression_data, id_vars=column_names, value_vars=['Depression2012','Depression2013','Depression2014'])
mapping = {"Depression2012": 2012, "Depression2013": 2013, "Depression2014": 2014}
depression_data = depression_data.replace({"variable": mapping})

depression_data

      Order    State                Substate Region  variable     value
0         7  Alabama                       Region 1      2012  0.068441
1         8  Alabama                       Region 2      2012  0.066045
2         9  Alabama                       Region 3      2012  0.061205
3        10  Alabama                       Region 4      2012  0.067005
4        12   Alaska                      Anchorage      2012  0.073531
...     ...      ...                            ...       ...       ...
1081    461  Wyoming            Judicial District 5      2014  0.088076
1082    462  Wyoming            Judicial District 6      2014  0.087603
1083    463  Wyoming  Judicial District 7 (Natrona)      2014  0.094727
1084    464  Wyoming            Judicial District 8      2014  0.088636
1085    465  Wyoming            Judicial District 9      2014  0.087140

[1086 rows x 5 columns]

In [135]:
depression_data.columns

Index(['Order', 'State', 'Substate Region', 'Depression2012', 'Depression2013',
       'Depression2014', 'Map Group'],
      dtype='object')

<h1>Mapping all colleges </h1>
<br> Collecting only the region wise data and eleminating the state wise data

In [124]:
college_region_mapping_df = pd.read_csv("data/college-region/Mapping Colleges to regions - Sheet1.csv" , sep= ",", encoding='latin-1')  
state_name = []
for state in college_region_mapping_df["State"]:
    state_ser = state_names_df[state_names_df["abb"] == str(state)]
    if(state_ser.empty):
        state_name.append("None")
    else:
        state_name.append(str(state_ser.iloc[0]['name']))

college_region_mapping_df["State"] =   state_name
college_region_mapping_df = college_region_mapping_df[college_region_mapping_df["State"] != "None"]
stripping = college_region_mapping_df['college'].str.strip()
college_region_mapping_df['college']= stripping
college_region_mapping_df.head()

                          college   State         region
0       Alaska Pacific University  Alaska  South Central
1  University of Alaska Fairbanks  Alaska  South Central
2  University of Alaska Southeast  Alaska      Southeast
3            Alaska Bible College  Alaska       Northern
4  University of Alaska Anchorage  Alaska  South Central

In [125]:

college_region_mapping_df.count()

college    3909
State      3910
region     3707
dtype: int64

In [126]:
loan_region_df = pd.merge(left=loan_data,right=college_region_mapping_df, left_on='School', right_on='college')

loan_region_df.dropna(inplace = True)



loan_region_df.count()

OPE ID                                  5043
School                                  5043
State_x                                 5043
Zip Code                                5043
School Type                             5043
FEDERAL WORK Recipients                 5043
FEDERAL WORK $ Federal Award            5043
 FEDERAL WORK Disbursements             5043
PERKINS LOAN Recipients                 5043
PERKINS LOAN $ Federal Award            5043
PERKINS LOAN Disbursements              5043
FEDERAL SUPPLEMENTAL Recipients         5043
FEDERAL SUPPLEMENTAL $ Federal Award    5043
FEDERAL SUPPLEMENTAL Disbursements      5043
college                                 5043
State_y                                 5043
region                                  5043
dtype: int64

In [127]:
loan_join_depression = pd.merge(left=loan_region_df ,right=depression_data, how='left', left_on=['State_y',"region"], right_on=["State","Substate Region"])
loan_join_depression.dropna(inplace = True)
loan_join_depression.count()

OPE ID                                  4654
School                                  4654
State_x                                 4654
Zip Code                                4654
School Type                             4654
FEDERAL WORK Recipients                 4654
FEDERAL WORK $ Federal Award            4654
 FEDERAL WORK Disbursements             4654
PERKINS LOAN Recipients                 4654
PERKINS LOAN $ Federal Award            4654
PERKINS LOAN Disbursements              4654
FEDERAL SUPPLEMENTAL Recipients         4654
FEDERAL SUPPLEMENTAL $ Federal Award    4654
FEDERAL SUPPLEMENTAL Disbursements      4654
college                                 4654
State_y                                 4654
region                                  4654
Order                                   4654
State                                   4654
Substate Region                         4654
Depression2012                          4654
Depression2013                          4654
Depression2014                          4654
Map Group                               4654
dtype: int64

In [130]:
loan_join_depression.columns

Index(['OPE ID', 'School', 'State_x', 'Zip Code', 'School Type',
       'FEDERAL WORK Recipients', 'FEDERAL WORK $ Federal Award',
       ' FEDERAL WORK Disbursements', 'PERKINS LOAN Recipients',
       'PERKINS LOAN $ Federal Award', 'PERKINS LOAN Disbursements',
       'FEDERAL SUPPLEMENTAL Recipients',
       'FEDERAL SUPPLEMENTAL $ Federal Award',
       'FEDERAL SUPPLEMENTAL Disbursements', 'college', 'State_y', 'region',
       'Order', 'State', 'Substate Region', 'Depression2012', 'Depression2013',
       'Depression2014', 'Map Group'],
      dtype='object')

In [159]:
column_names = ['OPE ID', 'School',  'Zip Code', 'School Type',
       'FEDERAL WORK Recipients', 'FEDERAL WORK $ Federal Award',
       ' FEDERAL WORK Disbursements', 'PERKINS LOAN Recipients',
       'PERKINS LOAN $ Federal Award', 'PERKINS LOAN Disbursements',
       'FEDERAL SUPPLEMENTAL Recipients',
       'FEDERAL SUPPLEMENTAL $ Federal Award',
       'FEDERAL SUPPLEMENTAL Disbursements', 'State', 'Substate Region']
pd.melt(merged_left, id_vars=column_names, value_vars=['Depression2012','Depression2013','Depression2014'])

,OPE ID,School,Zip Code,School Type,FEDERAL WORK Recipients,FEDERAL WORK $ Federal Award,FEDERAL WORK Disbursements,PERKINS LOAN Recipients,PERKINS LOAN $ Federal Award,PERKINS LOAN Disbursements,FEDERAL SUPPLEMENTAL Recipients,FEDERAL SUPPLEMENTAL $ Federal Award,FEDERAL SUPPLEMENTAL Disbursements,State,Substate Region,variable,value
0,884300,Alaska Bible College,99588-0000,Private/Non-Profit,10,5000,6933,0,0,0,17,5000,6400,Alaska,Northern,Depression2012,0.064405
1,4138600,Alaska Christian College,99669-9755,Private/Non-Profit,8,5000,5000,0,0,0,10,5000,5000,Alaska,Anchorage,Depression2012,0.073531
2,106100,Alaska Pacific University,99508-4672,Private/Non-Profit,39,45110,52175,0,0,0,88,34279,43306,Alaska,South Central,Depression2012,0.066751
3,2576900,Charter College,99508-4103,Proprietary,86,200000,188703,0,0,0,1093,306747,487503,California,Region 21R,Depression2012,0.068564
4,3278300,Charter College,91351-5432,Proprietary,41,95335,107889,0,0,0,713,126279,160452,California,Region 21R,Depression2012,0.068564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13957,382600,West Virginia State University,25112-0000,Public,68,218233,155008,38,0,83105,297,161890,166763,West Virginia,Region V,Depression2014,0.095978
13958,382700,West Virginia University,26506-6201,Public,867,1846340,1282250,1101,0,2299716,1511,685501,1628637,West Virginia,Region IV,Depression2014,0.094032
13959,382800,West Virginia University - Parkersburg,26101-9577,Public,54,117590,87835,0,0,0,190,80000,108647,West Virginia,Region III,Depression2014,0.104574
13960,383000,West Virginia Wesleyan College,26201-2600,Private/Non-Profit,281,264114,254346,77,0,195677,103,189968,189968,West Virginia,Region IV,Depression2014,0.094032
13961,383100,Wheeling Jesuit University,26003-6243,Private/Non-Profit,160,138004,184005,213,0,356606,165,146582,195443,West Virginia,Region I,Depression2014,0.101288